body {
  font-family: sans-serif;
  color: #2f3191;
}

:root {
    --gap: 5px;
    --element-size: 6vw;
    --color: #2f3191;
    --blue: #2f3191;
    --white: #fff;
    --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

.periodic-table {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-gap: 1px;
  padding: 20px;
}

.empty-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border: 3px solid var(--blue);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.element .name {
  font-size: 10px;
  font-weight: normal;
  margin-bottom: 5px;
}

.element .atomic-number {
  font-size: 12px;
  margin-bottom: 5px;
}

.element .symbol {
  font-size: 30px;
  font-weight: bold;
}

  